{% extends "base.html.twig" %}
{% block title %}MMI Space - Les Actus{% endblock %}

{% block body %}

    <header class="header">
        <h1 class="header__title">Les Actus</h1>
        <p class="header__subtitle">Retrouvez ici toutes les dernières news importantes et restez au courant de tout !</p>
        <img src="{{ asset('data/img/others/actu.png') }}" alt="actu" class="header__image">
    </header>

    <section class="main">
        <h3 class="main__title">News récentes</h3>
        {% if articles != null %}
            <ul class="main__list">
                {% for article in articles %}
                    <li class="news">
                        <a href="{{ path('article.show', {id: article.id, slug: article.slug}) }}" class="news__link">
                            <img src="{% if article.img != null %}{{ asset('data/img/article/' ~ article.img) }} {% else %} {{ asset('data/img/others/news.png') }} {% endif %}" alt="news" class="news__image">
                            <div class="news__content">
                                <h3 class="news__content__title">{{ article.title }}</h3>
                                <p class="news__content__date">{{ article.createdAt | date("d/m/Y")}}</p>
                                <img src="{{ asset('data/svg/arrow-primary.svg') }}" alt="arrow" class="news__content__arrow">
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

{% endblock %}